# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directory
venv/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

# Ignore IDE/editor configuration files
.vscode/
.idea/

# Ignore environment variable files
.env

# Ignore files too large for github
*.pkl
*.dat
*.csv